{% extends 'base.html.twig' %}

{% block title %}Permessi{% endblock %}

{% block mainclass %}container pt-3{% endblock %}

{% block head %}
{#    <meta name="turbo-cache-control" content="no-cache">#}
{% endblock %}

{% block importmap %}
    {{ parent() }}
{% endblock %}


{% block main %}
        <h3>Elenco richieste di {{ app.user.firstName }}</h3>
        <p>Ad oggi {{ date('now')|date('d.m.Y') }}, questi sono i tuoi futuri permessi/ferie</p>
        {{ include('permit/_permits_table.html.twig') }}
        {% if app.user.parentUser %}
            <a href="{{ path('app_permit_new') }}" class="btn btn-outline-primary">Nuova richiesta</a>
        {% endif %}
{% endblock %}
