{# templates/emails/signup.html.twig #}
<h1>Buongiorno Mariolina,</h1>

{% set employee = permit.employee %}
{% set boss = permit.employee.parentUser %}

<p>
    La richiesta di permesso di {{ employee.firstName }} {{ employee.lastName }} che <br>
    inizia il {{ permit.startAt | date('d/m/Y H:i') }} <br>
    e finisce il {{ permit.endAt | date('d/m/Y H:i') }} <br>
    è stata approvata da {{ boss.firstName }} {{ boss.lastName }} il {{ permit.evaluatedAt | date('d/m/Y H:i') }}.
</p>

{#<p><code>{{ employee }}</code></p>#}

<p>
    <a href="{{ url('app_permit_register', {id: permit.id}) }}">RICEVUTO!</a>
{#    (this link is valid until {{ new date('now') |date('F jS') }})#}
</p>
