{% extends 'emails/baseEmail.html.twig' %}

{% block content %}
    {% set employee = permit.employee %}
    {% set boss = permit.employee.parentUser %}

    <spacer size="20"></spacer>
    <row>
        <columns>
            <p>
                La tua richiesta di {{ permit.permitType|trans }} è stata respinta. Puoi modificarla e reinoltrarla.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <table>
                <tr>
                    <th>#</th>
                    <th>Inizio</th>
                    <th>Fine</th>
                </tr>
                <tr>
                    <td>{{ permit.id }}</td>
                    <td>{{ permit.startAt | date('d.m.Y H:i') }}</td>
                    <td>{{ permit.endAt | date('d.m.Y H:i') }}</td>
                </tr>
            </table>
        </columns>
    </row>
    <row>
        <columns>
            <p>Clicca qui per modificare la tua richiesta.</p>
        </columns>
    </row>
    <row>
        <columns>
            <button class="success" href="{{ url('app_permit_edit', {id: permit.id}) }}">Modifica</button>
        </columns>
    </row>

{% endblock %}

